<%= form_with(model: @article) do |form| %>
<div class="container mt-3 ">
 <%= render 'shared/errors' , obj: @article%>
 <div class="input-group m-1">   
   <%= form.label :title, class:"input-group-text"  %>
   <%= form.text_field :title, class:"form-control", placeholder:"Title for article" %>
 </div>

  <div class="input-group m-1">
    <%= form.label :description, class:"input-group-text" %>
    <%= form.text_area :description, rows:10, class:"form-control",placeholder:"The info of the article"  %>
  </div>

  <div class="input-group m-1 gap-2">
    <div class="actions">
      <%= form.submit class:"btn btn-primary" %>
    </div>  
  </div>
</div>
<% end %>
<div class="d-grid gap-2">
    <%= link_to '[Cancel and go back to the article list]', articles_path, class: "btn btn-outline-dark" %>
</div>
