<h1 class="text-center mt-4"> <%= @user.username %>'s Profile </h1>
<%= gravatar_for @user, size:200%>

<h1 class="text-center mt-4"> <%= @user.username %>'s Articles </h1>

<div class="text-center mt-4">
    <% if logged_in? && current_user == @user %>
      <%= link_to "Edit your profile", edit_user_path(@user), class:"btn btn-outline-success" %>
    <% end %>
</div>

<div class="flickr_pagination mt-4">
  <%= will_paginate @articles, :container => false %>
</div>
<%= render 'articles/article' %>

<div class="flickr_pagination mt-4 mb-4">
  <%= will_paginate @articles, :container => false %>
</div>